html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
}

.text-center {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.activate-button {
  margin-top: 15px;
}

.bg {
  background-image: url("../images/ai5.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 2%
}

.inline-block {
  display: inline-block;
}

.input {
  display: inline-block;
  width: 148px;
}

.placeholder{
  color: #9e9e9e;
}

.spec {
  opacity: 90%;
  padding-top: 6px;
  color: #dee7ff;
  font-weight: 200;
  font-size: 13px;
}

.text-muted {
  margin-top: 10px;
}

.text-white {
  color: #edf8ff;
  font-weight: 600;
  margin-bottom: 3px;
}

#carrier-input {
  width: 100px;
  display: inline-block;
}


#email-input {
  margin-bottom: 2px;
}

#phone-input {
  width: 196px;
  display: inline-block
}
