html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #00050f;
}

.text-white {
  color: #edf8ff;
}

.activate-button {
  margin-top: 20px;
}

.inline-block {
  display: inline-block;
}

.input {
  display: inline-block;
  width: 148px;
}

.input-div{
  width: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.placeholder{
  color: #9e9e9e;
}

.spec {
  opacity: 90%;
  padding: 10px 0px 5px;
  color: #dee7ff;
}

.bg {
  background-image: url("../images/ai2.gif");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#phone-input {
  width: 196px;
  display: inline-block
}

#carrier-input {
  width: 100px;
  display: inline-block;
}
